<p>
  <strong>Title:</strong>
	  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
	  <%= @article.text %>
</p>
 
<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>
